Repository EGA-archive/ega-data-api, pull requests merged in 2019-03, with the labels that each got.

#104 RES uses the proper endpoints for keyserver
  ega-data-api-res/src/main/java/eu/elixir/ega/ebi/reencryptionmvc/service/internal/KeyServiceImpl.java
  ega-data-api-res/src/test/java/eu/elixir/ega/ebi/reencryptionmvc/service/internal/KeyServiceImplTest.java
Labels: Key, bug

#110 Update postgres dependency to support scram-sha-256 passwords
  ega-data-api-filedatabase/pom.xml
  ega-data-api-key/pom.xml
  ega-data-api-res/pom.xml
Labels: bug

#106 Feature/development environment
  .gitignore
  mock-services/README.md
  mock-services/mock.sh
  mock-services/openapi/dataedge/dataedge.yaml
  mock-services/openapi/dataedge/example-file.txt
  mock-services/openapi/dataedge/mock-values.groovy
  mock-services/openapi/dataedge/openapi-plugin-dataedge-config.json
  mock-services/openapi/res/example-file.txt
  mock-services/openapi/res/mock-values.groovy
  mock-services/openapi/res/openapi-plugin-res-config.json
  mock-services/openapi/res/res.yaml
  mock-services/openapi_simulator/.gitignore
  mock-services/openapi_simulator/requirements.txt
  mock-services/openapi_simulator/simposter.py
Labels: enhancement

#108 Used @EnableAsync & @async to write asynchronously the download logs
  ega-data-api-dataedge/src/main/java/eu/elixir/ega/ebi/dataedge/config/MyConfiguration.java
  ega-data-api-dataedge/src/main/java/eu/elixir/ega/ebi/shared/service/internal/RemoteDownloaderLogServiceImpl.java
  ega-data-api-dataedge/src/test/java/eu/elixir/ega/ebi/dataedge/service/internal/RemoteDownloaderLogServiceImplTest.java
  ega-data-api-htsget/src/main/java/eu/elixir/ega/ebi/htsget/config/MyConfiguration.java
  ega-data-api-htsget/src/main/java/eu/elixir/ega/ebi/shared/service/internal/RemoteDownloaderLogServiceImpl.java
Labels: Dataedge, bug, htsget

#111 HEX processing in res
  ega-data-api-res/pom.xml
  ega-data-api-res/src/main/java/eu/elixir/ega/ebi/reencryptionmvc/config/MyConfiguration.java
  ega-data-api-res/src/main/java/eu/elixir/ega/ebi/reencryptionmvc/service/internal/LocalEGAArchiveServiceImpl.java
  ega-data-api-res/src/main/java/eu/elixir/ega/ebi/reencryptionmvc/service/internal/LocalEGAServiceImpl.java
  ega-data-api-res/src/test/java/eu/elixir/ega/ebi/reencryptionmvc/service/internal/LocalEGAArchiveServiceImplTest.java
Labels: bug

#120 Making S3 variables Null by default and solving POSIX
  ega-data-api-res/src/main/java/eu/elixir/ega/ebi/reencryptionmvc/config/MyConfiguration.java
  ega-data-api-res/src/main/java/eu/elixir/ega/ebi/reencryptionmvc/service/internal/LocalEGAServiceImpl.java
Labels: RES, bug

#121 Remove retrytemplate and spring retry as it is not used
  ega-data-api-dataedge/pom.xml
  ega-data-api-dataedge/src/main/java/eu/elixir/ega/ebi/dataedge/config/MyConfiguration.java
  ega-data-api-dataedge/src/main/java/eu/elixir/ega/ebi/dataedge/service/internal/RemoteFileServiceImpl.java
  ega-data-api-dataedge/src/test/java/eu/elixir/ega/ebi/dataedge/service/internal/RemoteFileServiceImplTest.java
Labels: Dataedge, bug
