Repository EGA-archive/ega-data-api, pull requests merged in 2019-05, with the labels that each got.

#135 Fixing bytes length for localEGA profile
  ega-data-api-dataedge/src/main/java/eu/elixir/ega/ebi/dataedge/service/FileLengthService.java
  ega-data-api-dataedge/src/main/java/eu/elixir/ega/ebi/dataedge/service/internal/FileLengthServiceImpl.java
  ega-data-api-dataedge/src/main/java/eu/elixir/ega/ebi/dataedge/service/internal/LocalEGAFileLengthServiceImpl.java
  ega-data-api-dataedge/src/main/java/eu/elixir/ega/ebi/dataedge/service/internal/RemoteFileServiceImpl.java
  ega-data-api-dataedge/src/test/java/eu/elixir/ega/ebi/dataedge/service/internal/RemoteFileServiceImplTest.java
  ega-data-api-it/pom.xml
  ega-data-api-it/src/main/resources/init.sql
  extras/14.enc
  extras/docker-compose.yml
  extras/postgresdb/init.sql
Labels: Dataedge, bug

#139 Travis enable to run all the integration tests
  .travis.yml
  extras/postgresdb/init.sql
  extras/postgresdb/main.sql
Labels: Dataedge

#138 Remove spring-retry from htsget following #121
  ega-data-api-htsget/pom.xml
  ega-data-api-htsget/src/main/java/eu/elixir/ega/ebi/htsget/config/MyConfiguration.java
Labels: htsget

#140 Remove swagger configuration as it is already in SwaggerConfig
  ega-data-api-dataedge/src/main/java/eu/elixir/ega/ebi/dataedge/config/MyConfiguration.java
  ega-data-api-htsget/src/main/java/eu/elixir/ega/ebi/htsget/config/MyConfiguration.java
Labels: Dataedge

#142 Add entrypoint.sh to support CA injection
  Dockerfile.dataedge
  Dockerfile.filedatabase
  Dockerfile.htsget
  Dockerfile.keyserver
  Dockerfile.res
  entrypoint.sh
Labels: enhancement
